body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

textarea{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 20px;
    padding: 12px;
    width: 20%;
    margin-bottom: 1%;
}